body.login {
	background-color: $tenup-gray;
	color: #fff;

	*,
	*:before,
	*:after {
		box-sizing: border-box;
	}

	br {
		display: none;
	}

	.message {
		background-color: tint($tenup-gray, 10%);
		color: #fff;
		border-color: $tenup-bluegreen;
	}

	#nav,
	#backtoblog {
		display: flex;
		justify-content: space-between;
		padding: 0;
		// hack to make the `|` character invisible
		color: rgba(0,0,0,0);
		// then we make sure that all child elements have color, so we don't run into trouble
		* {
			color: $lighter_gray;
		}

		a {
			&:hover {
				color: $tenup_bluegreen;
			}
		}
	}

	#login_error {
		background-color: tint($tenup_gray, 10%);
	}
}

#login {

	h1 {
		a {
			display: block;
			width: 83px;
			height: 100px;
			background-image: url('../images/10up-logo-full.svg');
			background-size: 100%;
			background-repeat: no-repeat;
			color: #fff;
			font-size: 20px;
			line-height: 1.3em;
			margin: 0 auto 25px;
			padding: 0;
			text-indent: -9999px;
			outline: 0;
		}
	}

	form {
		p {
			margin-bottom: 10px;
		}
	}
}


#loginform,
#lostpasswordform,
#registerform {
	background-color: transparent;
	box-shadow: none;
	padding: 0;

	p {

		.label-text {
			display: block;
			color: $lighter_gray;
		}

		&.submit {

		}
	}

	input[type="text"],
	input[type="password"] {
		border: 0;
		margin: 0;
		border-top: solid 3px $lighter_gray;

		&:focus {
			border-color: rgba($tenup_bluegreen, 0.5);
			box-shadow: inset 0 0 1px 1px rgba($tenup_bluegreen, 0.7);
		}
	}
}

#wp-submit {
	background: $tenup-bluegreen;
	box-shadow: none;
	color: #fff;
	text-decoration: none;
	text-shadow: none;
	border: 0;
	border-radius: 0;
	text-transform: uppercase;

	&:hover {
		background: shade($tenup-bluegreen, 10%);
	}
}
