body.login {
	background-color: $tenup-gray;
	color: #fff;

	*,
	*:before,
	*:after {
		box-sizing: border-box;
	}

	br {
		display: none;
	}

	.message,
	#login_error {
		order: 2;
		width: 100%;
		background-color: $light-gray;
		color: #fff;
	}

	.message {
		border-color: $tenup-bluegreen;

		+ #login_error,
		+ .message {
			margin-top: 3px;
		}
	}

	#nav,
	#backtoblog {
		display: flex;
		justify-content: space-between;
		margin-top: 24px;
		margin-bottom: 0;
		padding: 0;

		a {
			margin-right: 10px;
			color: $lighter_gray;

			&:hover {
				color: $tenup_bluegreen;
			}
		}
	}

	#nav {
		order: 5;

		a {
			&:last-child {
				margin: 0;
			}
		}
	}

	#backtoblog {
		order: 4;
	}
}

#login {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	h1 {
		flex: 0 1 100%;
		order: 1;

		a {
			display: block;
			width: 83px;
			height: 100px;
			background-image: url('../images/10up-logo-full.svg');
			background-size: 100%;
			background-repeat: no-repeat;
			color: #fff;
			font-size: 20px;
			line-height: 1.3em;
			margin: 0 auto 25px;
			padding: 0;
			text-indent: -9999px;
			outline: 0;
		}
	}

	form {
		flex: 0 1 100%;
		order: 3;
		padding-bottom: 30px;
		border-bottom: solid 1px $light-gray;

		p {
			margin-bottom: 10px;
		}
	}
}


#loginform,
#lostpasswordform,
#registerform {
	background-color: transparent;
	box-shadow: none;
	padding: 0;

	p {

		.label-text {
			display: block;
			color: $lighter_gray;
		}

		&.submit {

		}
	}

	input[type="text"],
	input[type="password"] {
		border: 0;
		margin: 0;
		border-top: solid 3px $lighter_gray;

		&:focus {
			border-color: rgba($tenup_bluegreen, 0.5);
			box-shadow: inset 0 0 1px 1px rgba($tenup_bluegreen, 0.7);
		}
	}
}

#wp-submit {
	background: $tenup-bluegreen;
	box-shadow: none;
	color: #fff;
	text-decoration: none;
	text-shadow: none;
	border: 0;
	border-radius: 0;
	text-transform: uppercase;

	&:hover {
		background: shade($tenup-bluegreen, 10%);
	}
}
